body {
    font-size: 20px;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(99, 18, 175);
    color: rgb(250, 250, 250);
    padding: 20px;
}

.main {
    display: grid;
    height: 700px;    
    padding-top: 20px;
 
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}

.nav {
    
    
    background-color: rgba(59, 40, 228, 0.466);
    text-align: center;
    width: 250px;
    padding-top: 100px;

    

}

.content {
    background-color: rgba(160, 157, 195, 0.466);
    padding-top: 90px;
    padding-right: 345px;
    padding-left: 50px;
       
}

.bot {
    bottom: 0;
    right: 0;
    
    position: fixed;
    width: 350px;
    text-align: center;
   
}


